<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Your Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="/static/css/grayscale.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bokeh-0.12.1.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />

    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>


    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
<div class="row"><div class="col-md-10">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Financial Assistant</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for("dashboard", name=name) }}">My Finances</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</div><div class="col-md-2"> <a class="navbar-brand">Welcome, {{ name }}! </a> </div></div></div>
    </nav>

<div class="col-md-12" style="padding-top:75px">
  <div class="col-md-6">
    <div class="container" style="margin:auto; width:33%; padding-bottom:10px">
      <h3>Input Data</h3>
    </div>
    <div class="col-md-12" align="justify" style="padding-bottom:25px">
      <p style="font-size: 14px; margin-bottom:10px">Your transaction data need only contain the following three columns.</p>
      <li style="list-style-type:square"><u>Column A</u>: <b>Date</b>. Standard MM/DD/YYYY date format.</li>
      <li style="list-style-type:square"><u>Column B</u>: <b>Amount</b>. Exact amount debited or credited to the account.</li>
      <li style="list-style-type:square"><u>Column C</u>: <b>Description</b>. Description of transaction (location, order ID, etc).</li>
    </div>
    <div class="col-md-12" align="center" style="padding-bottom:15px">
      <img src="/static/img/csv_example.png" style="max-width:100%;max-height:100%;"/>
    </div>
    <div class="col-md-12" align="center" style="padding-bottom:15px">
      <form action="{{ url_for('upload_data', name=name) }}" method="POST" enctype="multipart/form-data">
    <div class="container" style="margin:auto; width:150px">
        <input type="file" name="csv_file" />
    </div>
      <div class="container" style="align:center; padding-top:25px">
        <button type="submit" class="btn btn-success">Analyze Data</button>
      </div>
    </form>
    </div>
  </div>
  <div class="col-md-6">
  <div class="container" style="margin:auto; width:30%;">
    <h3>Categories</h3>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th> Name </th> <th> Keywords </th>
      </tr>
    </thead>
    <tbody>
      {% for row in range(dframe_categories.index|length) %}
      <tr> {% for val in dframe_categories.ix[row, colNames] %} <td style="background-color:#000;"> {{ val }} </td> {% endfor %}
        <td style="background-color:#000;"><form method="post" action={{ url_for("delete_category", id=dframe_categories.ix[row, "id"]) }}>
          <button type="submit" class="btn btn-danger" value="{{ dframe_categories.ix[row, "id"] }}" name="delete">
          <img src="/static/img/trash1.png" style="width:30px;height:30px;">
          </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    <div class="col-md-12" style="padding-right:0">
     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popUpWindow" style="float:right;margin-right:7px">
       <img src="/static/img/add3.png" style="width:30px;height:30px;">
     </button>
     <div class="modal fade" id="popUpWindow">
      <div class="modal-dialog">
        <div class="modal-content">

          <! --- HEADER --->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title" style="color:#000; font-size:20px">Enter Category and Specify Keywords</h3>
          </div>

          <! --- BODY --->
          <div class="modal-body">

            <form role="form" method="POST" action={{ url_for("submit_category", name=name)}} >
              <div class="form-group">
              <!-- <label>Company:</label> -->
              <input name="category_name" type="text" class="form-control" placeholder="Category Name">
              </div>
              <div class="form-group">
              <!-- <label>Position:</label> -->
              <input name="keywords" type="text" class="form-control" placeholder="List Keywords (comma-separated)">
              </div>
            </div>
          <! --- FOOTER (button to submit) --->
          <div class="modal-footer">
            <button class="btn btn-success" value="send" type="submit" name="action">Submit</button>
          </div>
          </form>
          </div>
        </div>
      </div>
     </div>

  </div>
</div>

<div class="container theme-showcase" role="main">

{% if plots_created %}

<div class="col-md-12">
    <div class="bk-root" style="padding-top:50px">
        {{ div|safe }}
    </div>
</div>

{{ js_script|safe }}

<!--
<script type="text/javascript"> {{ js_script|safe }} }); }); </script>
-->
{% endif %}

  </div> <!-- /container -->



    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p style="font-size:15px">Copyright &copy; Goran Peic 2016</p>
        </div>
    </footer>

    <!-- jQuery
    <script src="/static/js/jquery.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/js/grayscale.min.js"></script>

  </body>
</html>

<!--
<button type="submit" class="btn btn-danger" value="jinj_braces dframe_categories.ix[row, "id"] jinj_braces" name="delete">Delete</button>
<div class="col-md-12" style="padding-bottom:20px;"></div>
-->